---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/components/sections/Hero.astro';
import Experience from '@/components/sections/Experience.astro';
import About from '@/components/sections/About.astro';
import Photo from '@/components/Photo.astro';
import Contact from '@/components/sections/Contact.astro';
import { Icon } from 'astro-icon/components';
import { changeLanguage, t, lang } from '@/i18n/utils';
import { languages } from '@/i18n/ui';

export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'de' } },
    { params: { lang: undefined } },
  ];
}
if (Astro.params.lang) {
  changeLanguage(Astro.params.lang);
}

const nextLang = lang === 'en' ? 'de' : 'en';
---

<Layout lang={lang}>
  <main
    id="scrollable-main"
    class="scroll-smooth lg:h-screen lg:snap-y lg:overflow-y-scroll"
  >
    <div
      id="section-landing"
      class="relative mx-auto grid h-full max-w-7xl snap-start gap-12 p-8 max-sm:py-16 md:min-h-screen md:grid-cols-6 md:p-16 xl:gap-24"
    >
      <div
        class="slide-enter-content col-span-6 my-auto space-y-12 lg:col-span-3"
      >
        <About />
      </div>
      <div
        class="slide-enter order-first col-span-6 my-auto space-y-6 ease-in lg:order-last lg:col-span-3"
      >
        <Photo />
      </div>
      <div
        class="scroll-icon absolute bottom-4 left-1/2 hidden -translate-x-1/2 transform transition-opacity lg:block"
      >
        <Icon
          name="mdi:arrow-down-circle"
          class="animate-bounce text-skin-muted"
          size={40}
        />
      </div>
    </div>
    <div
      id="section-experience"
      class="relative mx-auto grid max-w-7xl snap-start gap-12 p-8 max-sm:py-16 lg:min-h-screen lg:grid-cols-6 lg:p-16 xl:gap-24"
    >
      <!-- Sticky Hero (left) -->
      <div class="lg:sticky lg:top-20 lg:col-span-2 lg:self-start">
        <Hero />
      </div>

      <!-- Scrollable Experience (right) -->
      <div class="pr-2 lg:col-span-4">
        <Experience />
      </div>
    </div>
    <div
      id="section-contact"
      class="slide-enter-content flex h-screen snap-start items-center justify-center px-4"
    >
      <div class="mx-4">
        <Contact />
      </div>
    </div>
    <!-- Footer -->
    <footer
      id="sticky-footer"
      class="relative bottom-0 left-0 w-full gap-4 border-t border-white/10 p-4 text-sm backdrop-blur-sm transition-transform duration-300 lg:fixed lg:flex lg:flex-row lg:justify-between lg:px-10"
      style="z-index: 50"
    >
      <span class="flex w-full justify-between">
        <a
          href={`/${nextLang}`}
          aria-label={languages[nextLang]}
          lang={nextLang}
          hreflang={nextLang}
          class="w-fit rounded-md border border-skin-hue/20 bg-skin-button-accent/20 px-2 text-xs text-skin-hue transition hover:bg-skin-button-accent hover:text-skin-inverted"
        >
          {languages[nextLang]}
        </a>

        <div>
          <a
            href={`/${lang}/impressum`}
            class="rounded-md px-2 text-xs text-skin-hue transition hover:text-skin-inverted"
          >
            {t('impressum.title')}
          </a>
          <a
            href={`/${lang}/dsgvo`}
            class="rounded-md px-2 text-xs text-skin-hue transition hover:text-skin-inverted"
          >
            {t('dsgvo.title')}
          </a>
        </div>
      </span>
      <div class="order-first mt-2 text-nowrap text-skin-muted lg:m-0">
        © {new Date().getFullYear()} Thomas Lallinger
      </div>
    </footer>
  </main>

  <script is:inline>
    const mainEl = document.getElementById('scrollable-main');

    // Scroll icon visibility logic and click event
    mainEl.addEventListener('scroll', function () {
      const icon = document.querySelector('.scroll-icon');
      if (mainEl.scrollTop > 0) {
        icon?.classList.add('hidden-icon');
      } else {
        icon?.classList.remove('hidden-icon');
      }
    });
    document
      ?.querySelector('.scroll-icon')
      ?.addEventListener('click', function () {
        const section = document.getElementById('section-experience');
        section?.scrollIntoView({ behavior: 'smooth' });
      });

    // Change language button logic
    document
      .getElementById('change-lang')
      ?.addEventListener('click', function () {
        // get text content of the button
        const currentLang = this.textContent?.trim();
        window.location.href = `/${currentLang}`;
      });

    // Sticky footer logic
    const footer = document.getElementById('sticky-footer');

    function onScroll() {
      const currentScroll = mainEl.scrollTop;
      const docHeight = mainEl.scrollHeight;
      const footerShowThreshold = docHeight / 1.5;

      if (currentScroll < footerShowThreshold) {
        footer.style.transform = 'translateY(100%)';
      } else {
        footer.style.transform = 'translateY(0)';
      }

      // About section fade out logic
      const pxFromTop = mainEl.scrollTop;

      const aboutHeader = document.getElementById('about-header');
      if (aboutHeader) {
        const shouldStick = pxFromTop > 1;
        aboutHeader.classList.toggle('lg:sticky', shouldStick);
        aboutHeader.classList.toggle('lg:top-48', shouldStick);
      }

      const fadeElements = [
        { el: document.getElementById('about-summary'), factor: 100 },
        { el: document.getElementById('photo-container'), factor: 100 },
        { el: document.getElementById('contact-button'), factor: 300 },
      ];

      fadeElements.forEach(({ el, factor }) => {
        if (el) {
          el.style.opacity = Math.max(0, 1 - pxFromTop / factor).toString();
        }
      });
    }

    mainEl?.addEventListener('scroll', onScroll);

    onScroll();
  </script>

  <style>
    :global(.dark) {
      color-scheme: dark;
    }
    .scroll-icon {
      transition:
        opacity 0.5s ease,
        visibility 0.5s ease;
      opacity: 1;
      visibility: visible;
      cursor: pointer;
    }

    .hidden-icon {
      opacity: 0;
      visibility: hidden;
    }
  </style>

  <style is:global>
    * {
      scrollbar-color: var(--color-button-muted) var(--color-fill);
    }

    @page {
      size: auto;
      margin: 0mm;
    }
    main {
      margin: auto;
      width: 100%;
    }

    @keyframes slide-enter {
      0% {
        transform: translateY(100px);
        opacity: 0;
      }

      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      .slide-enter,
      .slide-enter-content > * {
        --enter-stage: 0;
        --enter-step: 400ms;
        --enter-initial: 0ms;
        animation: slide-enter 1s both 1;
        animation-delay: calc(
          var(--enter-initial) + var(--enter-stage) * var(--enter-step)
        );
      }

      .slide-enter-content > *:nth-child(1) {
        --enter-stage: 1 !important;
      }
      .slide-enter-content > *:nth-child(2) {
        --enter-stage: 2 !important;
      }
    }
  </style>
</Layout>
