---
import { basics, languages } from "@cv";
import Section from "@/components/Section.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const { firstname, name, label, image, profiles, email } = basics;
---

<Section>
  <div class="flex flex-col-reverse gap-8">
    <div class="info">
      <h1>{firstname} {name}</h1>
      <h2>{label}</h2>
      <div class="flex flex-col gap-2 pt-2 text-sm text-skin-muted">
        {
          languages.map(({ language, fluency }) => {
            return (
              <div>
                {language} ({fluency})
              </div>
            );
          })
        }
      </div>
      <footer>
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Send email to me`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon class="" name="mdi:email" size={50} />
            </a>
          )
        }
        {
          profiles.map(({ network, url, icon }) => {
            return (
              <a
                href={url}
                title={`Visit ${name} profile on ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon class="" name={icon} size={50} />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure class="relative w-fit">
      <Image
        class="shadow-skin-hues shadow-lg"
        height={600}
        width={600}
        src={image}
        alt={name}
      />
      <div class="pointer-events-none absolute -inset-2">
        <div
          class="absolute -inset-y-8 right-0 w-px bg-skin-hue/50 [mask-image:linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]"
        >
        </div>
        <div
          class="absolute -inset-y-8 left-0 w-px bg-skin-hue/50 [mask-image:linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]"
        >
        </div>
        <div
          class="absolute -inset-x-8 bottom-0 h-px bg-skin-hue/50 [mask-image:linear-gradient(to_left,transparent,white_4rem,white_calc(100%-4rem),transparent)]"
        >
        </div>
        <div
          class="absolute -inset-x-8 top-0 h-px bg-skin-hue/50 [mask-image:linear-gradient(to_left,transparent,white_4rem,white_calc(100%-4rem),transparent)]"
        >
        </div>
      </div>
    </figure>
  </div>
</Section>

<style>
  .info {
    @apply flex flex-col gap-1 pr-8;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-balance text-base text-skin-muted;
  }

  img {
    @apply aspect-square w-32 rounded-2xl bg-cover;
  }

  span {
    @apply flex items-center gap-1 text-xs text-skin-hue;
  }

  footer {
    @apply mt-2 flex gap-1 text-sm;
  }

  footer a {
    @apply inline-flex size-10 items-center justify-center rounded-md p-1 text-skin-hue transition-all duration-500 ease-linear hover:bg-skin-button-accent hover:text-skin-inverted;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      @apply pr-0 md:items-center md:justify-center;
    }

    figure {
      @apply flex md:items-center md:justify-center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      @apply md:mx-auto;
    }
  }
</style>
